@import "../../assets/style/reset.scss";
@import "../../assets/style/base.scss";

body, #root, .main {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif; 
}


.main {
    display: grid;
    place-content: center;
}